/* ABOUT */
#about
{
}

.about-container
{
    display: flex;
    gap: 40px;
}

.about-img
{
    background-color: #cacaca;
    width: 150px;
    min-width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text
{
    max-width: 700px;
    color: #555555;
}

.about-text p
{
    padding-top: 5px;
}

#linked-images
{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-linked-img
{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.about-linked-img:hover
{
    transform: scale(1.3);
}

/* PROJECTS */
.project-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
}

.project-card
{
    padding: 20px;
    color: #555555;
}

.project-card .title
{
    color: #8a8a8a;
    font-size: 23px;
    margin-bottom: 20px;
    font-weight: bold;
}

.project-card img
{
    width: 325px;
    height: 175px;
    object-fit: cover;
    margin: 5px auto;
}

.project-card p
{
    margin-top: 10px;
    font-size: 14px;
}

/* CONTACT */
.contact
{
    text-align: center;
}

.contact-link
{
    text-align: center;
    list-style: none;
}

.contact-link li
{
    padding: 5px;
    text-decoration: underline;
}
