#project-name
{

}

.container
{
    display: flex;
    gap: 40px;
}

.text
{
    line-height: 35px;
    color: #555555;
}

.in-game-img
{
    width: 550px;
    height: 309px;
    object-fit: cover;
    margin: 5px auto;
}

.sub-img
{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

li
{
    margin-top: 20px;
    list-style: none;
}

li p
{
    margin-left: 10px;
    line-height: 1.5;
    margin-bottom: 8px;
}