#project-name
{

}

.container
{
    display: flex;
    gap: 40px;
}

.text
{
    line-height: 35px;
    max-width: 700px;
    color: #555555;
}

.in-game-image
{
    width: 384px;
    height: 216px;
    object-fit: cover;
    margin: 5px auto;
}

img
{
    width: 100%;
}